
        /* Em CSS não é preciso por <style> nem nada disso */
    body{
        font-family: sans-serif;
         background-color:antiquewhite;
         color:#b524da;
    }
        
    p{
        color:#a0e697;
           background-color:#224d85;
     }
        
